// Resets
@import 'utilities/variables';
@import 'utilities/mixins';

@import 'base/reset';
// @use 'base/typography';

@import 'layout/header';
@import 'layout/navigation';
@import 'layout/course';
@import 'layout/campus';
@import 'layout/facilities';
@import 'layout/testimonials';
@import 'layout/callToAction';
@import 'layout/footer';

@import 'components/buttons';
// @use 'components/carousel';
// @use 'components/slider';

// @use 'pages/home';
// @use 'pages/about';
// @use 'pages/contact';

// @use 'themes/theme';
// @use 'themes/admin';

// Row
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  @include sm-screen {
    flex-direction: column;
  }
}
